.add-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 24px;
  width: 60px;
  height: 60px;
}

.add-dialog {
  :deep(.el-dialog) {
    max-width: 500px;
  }
  :deep(.el-button) {
    width: 100%;
  }
  &.is-disabled {
    .avatar-uploader {
      opacity: 0.8;
    }
  }
}

.color-input {
  display: flex;
  align-items: center;
  width: 100%;
  :deep(.el-input) {
    margin-left: 10px;
  }
}

.avatar-uploader {
  width: 100%;
  :deep(.el-upload) {
    .el-icon {
      font-size: 28px;
      height: 100px;
    }
  }
  &.is-disabled {
    :deep(.el-upload-dragger) {
      cursor: not-allowed;
      color: var(--el-disabled-text-color);
      background-color: var(--el-disabled-bg-color);
      border: 1px dashed var(--el-disabled-border-color);
    }
  }
}